
/* colorhunt palette https://colorhunt.co/palette/293462f24c4cec9b3bf7d716 */
:root {
    --blue: #00235B;
    --orange: #EC9B3B;
    --red: #F24C4C;
    --yellow: #F7D716;
}

body {
    background-color: var(--orange);
    font-family: 'Roboto', serif;
}

h1 {
    color: var(--red);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
  }

h2 {
    color: black;
}

/* CSS by ID - search form and weather box*/

#search-form {
    background-color: var(--red);
}

#result-list {
    text-decoration: none;
}

#current-wx {
    line-height: 2rem;
}

/* CSS for map on display search page only */

#map {
    height: 400px;
    width: 100%;
}

/* CSS by class - header and navbar */

.header {
    background-color: var(--blue);
}

.nav-list li {
    padding: 0, 1rem;
}

.navbar-item {
    color: white;
}

/* CSS for search form */

.form-label {
    color: black;
}

.user-locate {
    margin-bottom: 1.3rem;
}

/* CSS for wather box */

.weather-box {
    margin-top: 10px;
}

.wx-list {
    
    color: black;
}

.cur-cond {
    color: black;
}

/* CSS for photo elements */

.galleria {
    max-width: 40%;
    margin-top: 60px;
}

.skyline {
    margin-top: 60px;
}

/* CSS for footer */

.footer {
    background-color: var(--blue);
    color: white;
}

