
/* colorhunt palette https://colorhunt.co/palette/293462f24c4cec9b3bf7d716 */
:root {
    --blue: #00235B;
    --orange: #EC9B3B;
    --red: #F24C4C;
    --yellow: #F7D716;
}

body {
    background-color: var(--orange);
    font-family: 'Roboto', serif;
}

h1 {
    color: var(--red);
    text-align: center;
}

h2 {
    color: black;
}

.header {
    background-color: var(--blue);
}

.form-label {
    color: black;
}

#search-form {
    background-color: var(--red);
}

#result-list {
    text-decoration: none;
}

.user-locate {
    margin-bottom: 1.3rem;
}

.nav-list li {
    padding: 0, 1rem;
}

.navbar-item {
    color: white;
}

.footer {
    background-color: var(--blue);
    color: white;
}

/* .weather-box {
    padding-left: 18rem;
} */

.galleria {
    max-width: 40%;
    margin-top: 60px;
}

.skyline {
    margin-top: 60px;
}

